/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {       
    /* background-color: #CCEEF3; */
    background-color: #363B39;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.ap-name {
    color: black;
}

.carousel-item {
    background-size: cover; 
    background-position: center;
}

.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}
  
.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;;
}

.snackbar-failure {
    background: #D11149;
    color: white;
}

.snackbar-success {
    background: #5CB85C;
    color: white;
}

/* Navbar section */

.nav {
    width: 100%;
    position: fixed;
    line-height: 65px;
    font-size: 1.5em;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 99;
}

.nav div.brand {
    float: left;
    padding-left: 3rem;
}

.nav div.main_list {
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    padding: 0;
    padding-right: 3rem;
}

.navbar-link {
    cursor: pointer;
    text-decoration: none;
    color: #F0F757 !important;
    line-height: 65px;
}

.navbar-link:hover {
    color: white !important;
    text-decoration: none;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 5px 0;
    background-color: #111;
}

@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

mat-form-field {
    width: 100%;
}

mat-error, .mat-form-field.ng-dirty.ng-invalid .mat-form-field-label {
    color: #F56960 !important;
}