<div class="row mt-3">
    <div class="col-3 justify-content-center">
        <div class="row justify-content-center">
            <mat-list>
                <mat-list-item>
                    <app-add-scientific-paper *ngIf="!roles || roles.length == 0"></app-add-scientific-paper>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="col-9">
        <div class="row justify-content-center">
            <h1>LIST OF MAGAZINES IN WEBSHOP - UNDER CONSTRUCTION</h1>
        </div>
    </div>
</div>