<div class="container-fluid">
    <h1 mat-dialog-title>Please review following scientific paper</h1>
    <app-generic-form [form]="form" [formFields]="formFields"></app-generic-form>
    <mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" (click)="submit()" [disabled]="form.invalid || requestProcessing">
          {{requestProcessing ? 'Confirming...' : 'Confirm'}}
          <span class="ml-1"><img src="assets/images/Spinner-1s-32px.gif" *ngIf="requestProcessing"></span>
      </button>
      <button mat-raised-button [mat-dialog-close]>Cancel</button>
  </mat-dialog-actions> 
</div>